$--primary-color: --primary-color;
$--secondary-color: --secondary-color;
$--background: --background;
$--menu-color: --menu-color;
$--accent-color: --accent-color;
$--primary-text-color: --primary-text-color;
$--input-color: --input-color;
$--danger-color: --danger-color;
$--sidebar-width: --sidebar-width;
$--titlebar-height: --titlebar-height;
$--primary-border-radius: --primary-border-radius;
$--secondary-text-color: --secondary-text-color;
