
.account-selector {
    position: fixed;
    background: var(--background-transparent);
    backdrop-filter: blur(10px);
    width: 12rem;
    height: auto;
    top: 4rem;
    right: 1.5rem;
    border-radius: 0.5rem;
    z-index: 20000;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 10%);
    overflow: hidden;
    pointer-events: none;
    max-height: 0;
    transition: all 0.2s ease-in-out;


}

.account-selector.visible {
    pointer-events: all;
    max-height: 10rem;
}


.account-items {
    display: flex;
}

.account-items div {
    height: 2.5rem;
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 10rem;
    border-radius: 0.3rem;
    margin-right: 0.3rem;
}

.account-items div:hover {
    background-color: rgb(0 0 0 / 30%);
}

.remove-account {
    width: 1.2rem;
    transition: all 0.2s ease;
    filter: var(--text-filter-secondary);
}

.remove-account:hover {
    filter: var(--icons-filter-hover);

}


.account-items div img {
    width: 1.5rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.account-items span {
   color: var(--text-color-secondary)
}

.account-items.active span {
    color: var(--text-color-primary)

}

#active-account-label {
    font-size: 0.6rem;
    color: var(--icons-color-hover);
}

#add-account {
    display: block;
}

#add-account div {
    width: 100%;
}

#add-account div img {
    position: relative;
    filter: var(--text-filter-secondary);
    transition: all 0.2s ease;

}

#add-account:hover img {
    filter: var(--icons-filter-hover);
}