.container {
    width: 100%;
    height: 100%;
}

.background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.05;
    filter: blur(4px);
}

.content {
    position: absolute;
    top: 1.7rem;
    left: 4rem;
    width: calc(100% - 5rem);
    height: calc(100% - 1.7rem);
    transition: all 0.3s ease;
    z-index: 4000;

}

.titlebar {
    height: 1.7rem;
    background: var(--secondary-color);
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
}

.titlebar-button img {
    filter: var(--text-color-filter);
    height: 1rem;
    width: auto;
}

.titlebar-button:hover img {
    filter: var(--accent-color-filter);
}


