.container {
  width: 100%;
  height: 100%;
}

.background-color {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  opacity: 0.95;
  z-index: 100;
  
}

.background-image {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  opacity: 1;
  filter: blur(4px);
}

.content {
  position: absolute;
  top: 1.7rem;
  left: 4rem;
  width: calc(100% - 5rem);
  height: calc(100% - 1.7rem);
  transition: all 0.3s ease;
  z-index: 4000;
}

.secondary-buttons {
  position: fixed;
  top: 2rem;
  right: 1.5rem;
  width: 5rem;
  height: auto;
  z-index: 7000;
  display: flex;
  justify-content: flex-end;
}

.secondary-buttons img {
  height: 1.5rem;
  filter: var(--text-filter-primary);
  transition: all 0.1s ease;


}

.secondary-buttons div {
  width: auto;
  height: auto;
  margin-left: 0.5rem;
  cursor: pointer;

}

.active-user {
  border-radius: 10%;
  overflow: hidden;
}

.active-user img {
  filter: none;
  transition: all 0.1s ease;
}


.titlebar-button img {
  filter: var(--icons-filter);
  height: 1rem;
}

.titlebar-button:hover img {
  filter: var(--icons-filter-hover);
}


.secondary-buttons div:hover img {
  filter: var(--icons-filter-hover);

}

.secondary-buttons .active-user:hover img {
  filter: none;
}

.titlebar {
  height: 1.7rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  inset: 0;
  z-index: 9999;

}

.titlebar-button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3rem;
  width: 1.7rem;
  height: 1.7rem;
}

