.background {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
}

.background-color {
    background: var(--background);
    opacity: 0.95;
}

.background-image {
    filter: blur(10px);
    object-fit: cover;
}

.page {
    position: fixed;
    left: 4.5rem;
    top: 0;
    width: calc(100% - 4.5rem);
    height: calc(100% + 0.5rem);
    z-index: 4000;
}

.secondary-buttons {
    position: fixed;
    top: 2rem;
    right: 1.5rem;
    height: auto;
    z-index: 7000;
    display: flex;
    justify-content: flex-end;
}

.secondary-button img,
.secondary-button svg {
    height: 1.5rem;
}

.secondary-button {
    width: auto;
    height: auto;
    margin-left: 0.5rem;
}

.secondary-button:not(.hover-accent-text-primary) img {
    border-radius: 0.2rem;
    margin-left: 0.15rem;
}

.titlebar {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 9999;
    gap: 0.5rem;
}

.titlebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.2rem;
}

.titlebar-button svg {
    height: 1.1rem;
    width: 1.1rem;
}

.page-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1.5rem;
    top: 2.2rem;
    color: var(--text-color-secondary);
    font-size: 0.85rem;
}

.page-title {
    color: var(--text-color-primary);
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    font-weight: bold;
}

.page-content {
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    height: calc(100% - 8rem);
    width: calc(100% - 3rem);
    transition: all 0.15s ease-in-out;
    will-change: transform;
    transform: none;
}

.page-content.step1 {
    opacity: 0;
    transform: translateX(110%);
}

.page-content.step2 {
    opacity: 0;
    transition: none;
    transform: translateX(-120%);
}

.active-downloads-notification {
    height: 0.6rem;
    width: 0.6rem;
    background: var(--icons-color-hover);
    position: absolute;
    bottom: 0;
    border-radius: 100%;
    border-style: solid;
    border-color: var(--side-bar-color);
    margin-left: 0.8rem;
}
