.base-dropdown {
    position: relative;
    background-color: var(--side-bar-color);
    border-style: none;
    height: auto;
    border-radius: 0.5rem;
    width: 9rem;
    transition: all 0.2s ease;
    overflow: hidden;
    align-items: center;
    max-height: 2.6rem;
    z-index: 100;
}

.base-dropdown.selected {
    max-height: 3.3rem;
}

.base-dropdown.active {
    max-height: 15rem;
}

.dropdown-label {
    color: var(--text-color-secondary);
    position: absolute;
    left: 0.6rem;
    pointer-events: none;
    transition: all 0.3s ease;
    margin-top: 0.8rem;
}

.base-dropdown.selected .dropdown-label {
    color: #666572;
    font-size: 0.6rem;
    margin-top: 0.8rem;
}

.selected-value {
    position: absolute;
    margin-top: 1.6rem;
    margin-left: 0.6rem;
    color: var(--text-color-primary);
}

.base-dropdown img {
    right: 0.5rem;
    position: absolute;
    rotate: 90deg;
    margin-top: 0.5rem;
    filter: var(--text-filter-secondary);
    transition: all 0.3s ease;
}

.base-dropdown.selected img {
    margin-top: 0.9rem;
}

.base-dropdown.active img {
    rotate: 270deg;
}

.base-dropdown:hover img {
    filter: var(--icons-filter-hover);
}

.dropdown-values {
    position: relative;
    margin-top: 2.6rem;
    color: var(--text-color-secondary);
    height: 11.7rem;
    overflow: auto;
}

.base-dropdown.selected .dropdown-values {
    margin-top: 3.3rem;
}

.dropdown-value {
    color: var(--text-color-secondary);
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 0.1rem;
    border-radius: 0.3rem;
}

.dropdown-value:hover {
    background-color: rgb(0 0 0 / 30%);
}

.dropdown-value span {
    margin-left: 1rem;
}

.dropdown-value.selected span {
    color: var(--text-color-primary);
}

.dropdown-value .dot {
    margin-top: 0.25rem;
}
