.instances {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    height: calc(100% + 1.2rem);
    width: calc(100% + 3.6rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

.grid {
    position: relative;
    top: 0.5rem;
    height: auto;
    width: calc(100% - 3.2rem);
    left: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    grid-gap: 0.7rem;
    display: grid;
}

.instance {
    cursor: pointer;
    position: relative;
    aspect-ratio: 1.4 / 1;
    transition: all 0.15s ease-in-out;
}

.instance:last-child {
    margin-bottom: 0.7rem;
}

.instance:hover {
    transform: scale(1.05);
}

.instance-background {
    position: absolute;
    opacity: 1;
    filter: blur(0.5px);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.instance-content {
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 0;
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.instance-info {
    position: absolute;
    background-color: #202832b1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-secondary);
    transition: all 0.15s ease-in-out;
}

.instance:hover .instance-info {
    background-color: #2028326e;
    color: var(--text-color-primary);
}

.instance-content span img {
    margin-bottom: 0.5rem;
    width: 30%;
}

.instance-content span {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    text-align: center;
    word-break: keep-all;
}

.instance-type {
    left: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
}

.instance-type svg,
.instance-type .custom path {
    stroke-width: 2px;
}

.instance-info div {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    background-color: var(--side-bar-color);
    opacity: 0.8;
    padding: 0.3rem;
    border-radius: 0.5rem;
    overflow: hidden;
    word-wrap: none;
    font-size: 0.8rem;
    max-width: 37%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instance-version span {
    align-items: flex-start;
    word-break: none;
    margin-right: 0.1rem;
}
