.modpacks {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modpacks-container {
    height: calc(100% - 8.5rem);
    width: calc(100%);
    position: absolute;
    bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.modpacks .grid {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    width: calc(100% - 2.2rem);
}

.modpack {
    background: var(--background-transparent);
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 10%);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 6.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modpack-bg {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.modpack-bg-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background-transparent);
    backdrop-filter: blur(px);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.modpack-icon {
    height: 4.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
}

.modpack-title {
    color: var(--text-color-primary);
    font-weight: bold;
}
