.side-bar {
    width: 4.5rem;
    height: 100%;
    background-color: var(--side-bar-color);
    inset: 0;
    position: fixed;
    z-index: 8000;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.side-bar-items {
    position: relative;
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
}

.side-bar-selector {
    position: absolute;
    background-color: var(--icons-color-hover);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: scale(0);
    will-change: transform;
    transition: transform 0.15s ease-in-out;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 20%);
}

.side-bar-items.selected .side-bar-selector {
    transform: scale(1);
}

.side-bar-items svg {
    height: 1.9rem;
    z-index: 10;
}

.side-bar-items.selected svg {
    stroke: var(--text-color-primary);
}

.side-bar-items.selected:hover svg {
    stroke: var(--icons-color);
}
