.version-menu {
    position: relative;
    width: 90%;
    height: calc(100% - 8.6rem);
    max-width: 25rem;

}

.version-tabs {
    background-color: var(--side-bar-color);
    border-radius: 0.5rem;
    height: 2.5rem;
    width: calc(100% - 2.3rem) !important;
    margin-left: 0 !important;
    display: flex;
    color: var(--text-color-secondary);
    justify-content: center;
    margin-bottom: 0.2rem;
}

.version-tabs div {
    width: 100%;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    cursor: pointer;
}

.version-tabs span {
    width: 100%;
    text-align: center;
    padding: 0.3rem;
}

.version-menu img {
    margin-top: -2.2rem;
}

.version-tabs div:hover {
    background-color: rgb(0 0 0 / 20%);
}

.version-tabs div.selected {
    background-color: rgb(0 0 0 / 30%);
    color: var(--text-color-primary);
}

.version-container {
    position: relative;
    height: calc(100% - 2.5rem);
    width: calc(100% - 2.3rem) !important;
    border-radius: 0.3rem;
    background-color: var(--side-bar-color);
    overflow-y: scroll;
}

.version {
    color: var(--text-color-secondary);
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 0.1rem;
    border-radius: 0.3rem;
    cursor: pointer;

}

.version:nth-child(1) {
    margin-top: 0.2rem;
}

.version:hover {
    background-color: rgb(0 0 0 / 30%);

}

.version span {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.version.selected {
    color: var(--text-color-primary)
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--icons-color-hover);
    position: absolute;
    left: 0.4rem;
    border-radius: 100%;
}