@import '../variables';

$theme-map-light: (
    $--background: #F9F5F6,
    $--primary-color: #ddd,
    $--secondary-color: #424250,
    $--accent-color: #4254af,
    $--primary-text-color: #bab6be,
);
