@import '../variables';

$theme-map-og: (
    $--background: #202735,
    $--primary-color: #252b3b,
    $--secondary-color: #414c68,
    $--accent-color: #5776ff,
    $--primary-text-color: #fcffff,
);
