@import '../variables';

$theme-map-warm: (
    $--background: #2F2519,
    $--primary-color: #4A3F35,
    $--secondary-color: #FA7D09,
    $--accent-color: #FF4301,
    $--primary-text-color: #EEE,
);
