@import '../variables';

$theme-map-zebra: (
    $--background: #d7d6d6,
    $--primary-color: #191921,
    $--secondary-color: #424250,
    $--accent-color: #dca04c,
    $--primary-text-color: #d3d2d4,
);
